/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/05/2017, 15:12:24
    Author     : john
*/

.wrapper-content{
    padding: 10px 0px 40px !important;
}
.ui-state-highlight{
    background-color: #00acac !important;
    background-image: none !important;
}

/*ajuste nos botoes quando a linha da grid é to tipo selected*/
ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #333333 !important;
}
/*fim do ajuste*/
div[id="formCentro:growl_container"] > div[class~="g-fatal"] {
    background-color: #dd4b39 !important;
    background-image: none !important;
}

div[id="formCentro:growl_container"] > div[class~="g-error"] {
    background-color: #dd4b39 !important;
    background-image: none !important;
}

div[id="formCentro:growl_container"] > div[class~="g-warn"]{
    background-color: #fcf8e3 !important;
    background-image: none !important;
}

div[id="formCentro:growl_container"] > div[class~="g-info"]{
    background-color: #3c763d !important;
    background-image: none !important;
}

.ui-growl-image-info ~ .ui-growl-message {
    color:#fff;
}
.ui-growl-image-error ~ .ui-growl-message {
    color:#fff;
}
.ui-growl-image-warn ~ .ui-growl-message {
    color:#fff;
}
.ui-growl-image-fatal ~ .ui-growl-message {
    color:#fff;
}

.ui-autocomplete-input {
    width: 100%;
}

.ui-inputfield {
    width: 100% !important;
}

.ui-selectonemenu {
    padding-right: 0 !important;
    width: 100% !important;
}

.ui-selectonemenu-label {
    width: 100% !important;
}

.ui-inputnumber input{
    text-align: right !important;;
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #00acac;
    color: #ffffff;
}

.ui-paginator select {
    color: black !important;
}

body .ui-button.default-btn {
    background: #FFFFFF;
    color: #333;
    border: 1px solid #e7eaec;
}

body .ui-button.default-btn.ui-state-hover {
    background-color: #e6e6e6;
    color: #333;
}

body .ui-button.default-btn.ui-state-focus {
    background-color: #e6e6e6;
    color: #333;
}

body .ui-button.default-btn.ui-state-active {
    background-color: #e6e6e6;
    color: #333;
}

.hora span {
    background-color: #ffffff !important;
    color: black !important;
}


/*
 * Component: Small Box
 * --------------------
 */
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
    padding: 10px;
}
.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box p {
    font-size: 15px;
}
.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}
.small-box h3,
.small-box p {
    z-index: 5;
}
.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.small-box:hover .icon {
    font-size: 95px;
}
@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }
    .small-box .icon {
        display: none;
    }
    .small-box p {
        font-size: 12px;
    }
}

.bg-gray{
    color:#000;
    background-color:#d2d6de !important
}

.coluna-monetaria {
    text-align: right;
}

.coluna-quantidade {
    text-align: center;
}

/* Field Action */
.field-action {
    display: flex;
}

.field-action__icon {
    margin: 6px 0 0 5px;
}

.glyphicon-large {
    font-size: 18px;
}

.ui-outputlabel-rfi {
    corlo: red;
}

.mascara-quantidade, .mascara-valor, .mascara-valor-padrao, .mascara-numero, .mascara-peso {
    text-align: right;
}
