#pdv {
    position: relative;
    margin: 20px auto;
    width: 90%;
    padding: 1%;
    -webkit-box-shadow: 0px 1px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 22px 0px rgba(50, 50, 50, 0.75);
    padding-bottom: 50px;
    min-height: 80vh
}

#pdv #botao-operacoes {
    background: #0c1b25;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 30px;
    padding: 5px 10px;
    position: fixed;
    left: 0;
    top: 50%;
}

#pdv input[text]:focus, #pdv input[password]:focus, #pdv select:focus {
    background: #FFFFCC !important;
}

.ui-inputnumber > input[text]:focus {
    background: #FFFFCC !important;
}

#pdv #janela-indicar-cliente, #pdv #janela-indicar-cliente label, #pdv #janela-indicar-cliente legend {
    font-size: 20px;
    font-weight: normal !important;
}

#pdv #janela-indicar-cliente fieldset {
    margin-bottom: 0;
}

#pdv #janela-indicar-cliente fieldset label {
    margin-top: 5px
}

#token-input-BuscaProduto {
    width: 100% !important
}

#pdv label[for="ClienteTipoPF"] {
    margin-right: 20px
}

#pdv .tab-content {
    background: none;
    border: 0;
    padding: 0;
    width: 100%;
    display: table;
}

#pdv .small-box {
    cursor: default;
}

#pdv .box-cliente a {
    color: #FFFFFF;
    text-decoration: underline;
}

#pdv .box-cliente a:hover {
    color: #DBDBDB;
    text-decoration: underline;
}

#pdv .small-box .icone {
    bottom: 5px;
    color: rgba(0, 0, 0, 0.15);
    font-size: 70px;
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 0;
}

#pdv .teclas {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1%;
    text-align: center;
    background: #E9E9E9;
    left: 0;
}

#pdv input[type="text"], input[type="password"], #pdv select, #pdv .token-input-token {
    font-size: 20px;
    height: 60px;
}

#pdv #mostra-produto input[type="text"], #pdv #mostra-produto select {
    width: 100%
}

#pdv .total-pedido {
    background: #0c1b25;
    color: #FFFFFF;
    font-size: 200%;
    text-align: center;
    padding: 1%;
}

div.token-input-dropdown {
    font-size: 20px
}

#pdv .produtos-selecionados {
    padding-bottom: 50px
}

#pdv .produtos-selecionados #lista {
    height: 240px;
    overflow: auto;
}

#pdv #painel-teclas-atalho .tecla {
    background: #000000;
    color: #FFFFFF;
    padding: 10px 1% 10px 1%;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

#pdv .fa-lg {
    font-size: 250px;
    color: #D2D2D2;
    line-height: normal !important;
}

#pdv .botao-tela-voltar {
    position: absolute;
    right: 5px;
    top: 5px
}

#pdv .input-normal {
    font-size: 14px !important;
    height: 34px !important;
}

#pdv .campo-desconto {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 70px !important;
    text-align: center !important;
}

@media (max-width: 767px) {
    #pdv {
        width: 100%;
    }

    #pdv input[type="text"], input[type="password"], #pdv select, #pdv .token-input-token {
        font-size: 16px;
        height: 40px
    }

    #pdv #janela-indicar-cliente {
        font-size: 20px;
    }

    #pdv #produtos-selecionados #lista {
        height: auto;
    }

    #pdv .fa-lg {
        font-size: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #pdv input[type="text"], #pdv input[type="password"], #pdv select, #pdv .token-input-token {
        font-size: 18px;
        height: 50px
    }

    .btn-lg {
        border-radius: 6px;
        font-size: 14px;
        line-height: 1;
        padding: 8px 10px;
    }

    #pdv #produtos-selecionados {
        height: 150px;
        overflow: auto;
    }

    #pdv #janela-indicar-cliente {
        font-size: 25px;
    }

    #pdv .fa-lg {
        font-size: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #pdv input[type="text"], #pdv input[type="password"], #pdv select, #pdv .token-input-token {
        font-size: 20px;
        height: 50px
    }

    #pdv #janela-indicar-cliente {
        font-size: 30px;
    }

    #pdv .fa-lg {
        font-size: 200px;
    }

}

@media (min-width: 1200px) {
    #pdv .fa-lg {
        font-size: 250px;
    }
}


#pdv .barra-busca {
    width: 100%;
    height: 68px;
    position: relative;
    background-color: #d0cbcb;
}

#pdv .barra-busca .search {

    width: 90%;
    float: left;
    line-height: 30px;
    margin: 4px 0 0 5px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    color: #fff;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #000000;
}

#pdv .barra-busca .btn-search {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: transparent url("../resources/images/enter-search.svg") no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 18px 0 0 6px;
}

#pdv .resultado-busca {
    position: relative;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    overflow-y: scroll;
    height: 66%;
}

#pdv .resultado-busca ul {
    opacity: 1;
    -o-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}

#pdv .resultado-busca ul li {
    border-bottom: 1px solid #d0cbcb;
    height: 47px;
    display: flex;
}

#pdv .resultado-busca ul li .desc-produto {
    display: inline-block;
    text-transform: uppercase;
    color: #636363;
    width: 65%;
}

#pdv .resultado-busca ul li .desc-produto .cod-item {
    font-size: 11px
}

#pdv .resultado-busca ul li .desc-produto .nome-item {
    display: block;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#pdv .resultado-busca ul li .preco {
    display: inline-block;
    width: 151px;
    margin: 0 10px;
    padding-top: 15px;
}

#pdv .resultado-busca ul li .preco span {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

#pdv .resultado-busca ul li .add-item {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

#pdv .resultado-busca ul li .add-item .btn-add-item {
    width: 39px;
    height: 39px;
    background: transparent url("../resources/images/buy.png") no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
}