/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2017, 19:04:47
    Author     : john
*/

/*Icones Primefaces*/



.ui-icon-carat-1-n {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-carat-1-n:before {
    content: ""; }

.ui-icon-carat-1-e {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-carat-1-e:before {
    content: ""; }

.ui-icon-carat-1-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-carat-1-s:before {
    content: ""; }

.ui-icon-carat-1-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-carat-1-w:before {
    content: ""; }

.ui-icon-carat-2-n-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-carat-2-n-s:before {
    content: ""; }

.ui-icon-triangle-1-n {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-triangle-1-n:before {
    content: ""; }

.ui-icon-triangle-1-e {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-triangle-1-e:before {
    content: ""; }

.ui-icon-triangle-1-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-triangle-1-s:before {
    content: ""; }

.ui-icon-triangle-1-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-triangle-1-w:before {
    content: ""; }

.ui-icon-triangle-2-n-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-triangle-2-n-s:before {
    content: ""; }

.ui-icon-arrow-1-n {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-1-n:before {
    content: ""; }

.ui-icon-arrow-1-e {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-1-e:before {
    content: ""; }

.ui-icon-arrow-1-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-1-s:before {
    content: ""; }

.ui-icon-arrow-1-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-1-w:before {
    content: ""; }

.ui-icon-arrow-2-n-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-2-n-s:before {
    content: ""; }

.ui-icon-arrow-2-e-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-2-e-w:before {
    content: ""; }

.ui-icon-arrowthick-1-n {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrowthick-1-n:before {
    content: ""; }

.ui-icon-arrowthick-1-e {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrowthick-1-e:before {
    content: ""; }

.ui-icon-arrowthick-1-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrowthick-1-s:before {
    content: ""; }

.ui-icon-arrowthick-1-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrowthick-1-w:before {
    content: ""; }

.ui-icon-arrow-4 {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-4:before {
    content: ""; }

.ui-icon-arrow-4-diag {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-arrow-4-diag:before {
    content: ""; }

.ui-icon-extlink {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-extlink:before {
    content: ""; }

.ui-icon-newwin {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-newwin:before {
    content: ""; }

.ui-icon-refresh {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-refresh:before {
    content: ""; }

.ui-icon-shuffle {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-shuffle:before {
    content: ""; }

.ui-icon-transfer-e-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-transfer-e-w:before {
    content: ""; }

.ui-icon-folder-collapsed {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-folder-collapsed:before {
    content: ""; }

.ui-icon-folder-open {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-folder-open:before {
    content: ""; }

.ui-icon-document {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-document:before {
    content: ""; }

.ui-icon-note {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-note:before {
    content: ""; }

.ui-icon-mail-open {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-mail-open:before {
    content: ""; }

.ui-icon-suitcase {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-suitcase:before {
    content: ""; }

.ui-icon-comment {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-comment:before {
    content: ""; }

.ui-icon-person {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-person:before {
    content: ""; }

.ui-icon-print {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-print:before {
    content: ""; }

.ui-icon-trash {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-trash:before {
    content: ""; }

.ui-icon-locked {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-locked:before {
    content: ""; }

.ui-icon-unlocked {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-unlocked:before {
    content: ""; }

.ui-icon-bookmark {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-bookmark:before {
    content: ""; }

.ui-icon-tag {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-tag:before {
    content: ""; }

.ui-icon-home {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-home:before {
    content: ""; }

.ui-icon-flag {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-flag:before {
    content: ""; }

.ui-icon-calendar {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-calendar:before {
    content: ""; }

.ui-icon-cart {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-cart:before {
    content: ""; }

.ui-icon-pencil {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-pencil:before {
    content: ""; }

.ui-icon-clock {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-clock:before {
    content: ""; }

.ui-icon-disk {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-disk:before {
    content: ""; }

.ui-icon-calculator {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-calculator:before {
    content: ""; }

.ui-icon-zoomin {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-zoomin:before {
    content: ""; }

.ui-icon-zoomout {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-zoomout:before {
    content: ""; }

.ui-icon-search {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-search:before {
    content: ""; }

.ui-icon-wrench {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-wrench:before {
    content: ""; }

.ui-icon-gear {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-gear:before {
    content: ""; }

.ui-icon-heart {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-heart:before {
    content: ""; }

.ui-icon-star {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-star:before {
    content: ""; }

.ui-icon-link {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-link:before {
    content: ""; }

.ui-icon-cancel {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-cancel:before {
    content: ""; }

.ui-icon-plus {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-plus:before {
    content: ""; }

.ui-icon-plusthick {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-plusthick:before {
    content: ""; }

.ui-icon-minus {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-minus:before {
    content: ""; }

.ui-icon-minusthick {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-minusthick:before {
    content: ""; }

.ui-icon-close {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-close:before {
    content: ""; }

.ui-icon-closethick {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-closethick:before {
    content: ""; }

.ui-icon-key {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-key:before {
    content: ""; }

.ui-icon-lightbulb {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-lightbulb:before {
    content: ""; }

.ui-icon-scissors {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-scissors:before {
    content: ""; }

.ui-icon-clipboard {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-clipboard:before {
    content: ""; }

.ui-icon-copy {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-copy:before {
    content: ""; }

.ui-icon-contact {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-contact:before {
    content: ""; }

.ui-icon-image {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-image:before {
    content: ""; }

.ui-icon-video {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-video:before {
    content: ""; }

.ui-icon-music {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-music:before {
    content: ""; }

.ui-icon-alert {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-alert:before {
    content: ""; }

.ui-icon-info {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-info:before {
    content: ""; }

.ui-icon-notice {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-notice:before {
    content: ""; }

.ui-icon-help {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-help:before {
    content: ""; }

.ui-icon-check {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-check:before {
    content: ""; }

.ui-icon-bullet {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-bullet:before {
    content: ""; }

.ui-icon-radio-off {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-radio-off:before {
    content: ""; }

.ui-icon-radio-on {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-radio-on:before {
    content: ""; }

.ui-icon-pin-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-pin-s:before {
    content: ""; }

.ui-icon-play {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-play:before {
    content: ""; }

.ui-icon-pause {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-pause:before {
    content: ""; }

.ui-icon-seek-next {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-seek-next:before {
    content: ""; }

.ui-icon-seek-prev {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-seek-prev:before {
    content: ""; }

.ui-icon-seek-end {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; 
}
.ui-icon-seek-end:before {
    content: ""; 
}

.ui-icon-seek-first {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-seek-first:before {
    content: ""; }

.ui-icon-stop {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-stop:before {
    content: ""; }

.ui-icon-eject {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-eject:before {
    content: ""; }

.ui-icon-volume-off {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-volume-off:before {
    content: ""; }

.ui-icon-volume-on {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-volume-on:before {
    content: ""; }

.ui-icon-power {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-power:before {
    content: ""; }

.ui-icon-signal {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-signal:before {
    content: ""; }

.ui-icon-battery-0 {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-battery-0:before {
    content: ""; }

.ui-icon-battery-1 {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-battery-1:before {
    content: ""; }

.ui-icon-battery-2 {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-battery-2:before {
    content: ""; }

.ui-icon-battery-3 {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-battery-3:before {
    content: ""; }

.ui-icon-circle-plus {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-plus:before {
    content: ""; }

.ui-icon-circle-minus {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-minus:before {
    content: ""; }

.ui-icon-circle-close {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-close:before {
    content: ""; }

.ui-icon-circle-triangle-e {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-triangle-e:before {
    content: ""; }

.ui-icon-circle-triangle-s {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-triangle-s:before {
    content: ""; }

.ui-icon-circle-triangle-w {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-triangle-w:before {
    content: ""; }

.ui-icon-circle-triangle-n {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
.ui-icon-circle-triangle-n:before {
    content: ""; }




/*Fim de icones primefaces*/





body .ui-datepicker {
    padding: 0; 
}
body .ui-datepicker .ui-datepicker-header {
    padding: 8px 14px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    cursor: pointer;
    top: 14px;
    color: #ffffff;
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
    content: ""; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
    display: none; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-datepicker-prev-hover {
    color: #00acac;
    left: 2px; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    cursor: pointer;
    top: 14px;
    color: #ffffff;
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
    content: ""; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
    display: none; 
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-datepicker-next-hover {
    color: #00acac;
    right: 2px; 
}
body .ui-datepicker table {
    font-size: 14px; 
}
body .ui-datepicker table td a {
    text-align: center;
    color: #5f666c;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
}
body .ui-datepicker table td a.ui-state-hover {
    background-color: #f0f3f5; 
}
body .ui-datepicker table td a.ui-state-highlight {
    color: #5f666c;
    background-color: #c9cdd2 !important; 
}
body .ui-datepicker table td a.ui-state-active {
    color: #ffffff;
    background-color: #00acac; 
}
body .ui-datepicker#ui-datepicker-div {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15); 
}
body .ui-trigger-calendar .ui-inputfield {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none; 
}
body .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0; }
body .ui-fluid .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
    right: -2px;
    height: 31px; 
}

.ui-datepicker-header{
    background-color: #2d353c !important;
    color: #ffffff; 
}
.ui-datepicker-unselectable{
    background-color: #ffffff !important; 
}
/*Data atble*/



/*--------------------------------------------------------*/


/*Paginador*/



body .ui-paginator {
    background-color: #22282d; 
}
body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color: #ffffff;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
body .ui-paginator .ui-paginator-first span, body .ui-paginator .ui-paginator-prev span, body .ui-paginator .ui-paginator-next span, body .ui-paginator .ui-paginator-last span {
    display: none; }
body .ui-paginator .ui-paginator-first.ui-state-hover, body .ui-paginator .ui-paginator-prev.ui-state-hover, body .ui-paginator .ui-paginator-next.ui-state-hover, body .ui-paginator .ui-paginator-last.ui-state-hover {
    color: #00acac; }
body .ui-paginator .ui-paginator-first {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
body .ui-paginator .ui-paginator-first:before {
    content: ""; }
body .ui-paginator .ui-paginator-prev {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
body .ui-paginator .ui-paginator-prev:before {
    content: ""; }
body .ui-paginator .ui-paginator-next {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
body .ui-paginator .ui-paginator-next:before {
    content: ""; }
body .ui-paginator .ui-paginator-last {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center; }
body .ui-paginator .ui-paginator-last:before {
    content: ""; }
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: #333;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-hover {
    color: #00acac; }
body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
    padding: 8px 14px; }
body .ui-datatable .ui-paginator {
    padding: 8px 14px; 
}

.ui-paginator-pages > a{
    border: none !important;
    line-height: inherit !important;
}

/*Fim paginador*/


/*Dinversos*/

.ui-clock{
    background: none !important;
    border: none !important;
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #00acac !important;
    color: #ffffff !important; 
}

/*Fim diversos*/

/*Mensagem*/



body .ui-messages .ui-messages-info {
    background-color: #2f8ee5;
    border-color: #2f8ee5;
    color: #ffffff; }
body .ui-messages .ui-messages-info .ui-messages-info-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 24px;
    margin-top: -2px; }
body .ui-messages .ui-messages-info .ui-messages-info-icon:before {
    content: ""; }
body .ui-messages .ui-messages-warn {
    background-color: #f1b263;
    border-color: #f1b263;
    color: #ffffff; }
body .ui-messages .ui-messages-warn .ui-messages-warn-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 24px;
    margin-top: -2px; }
body .ui-messages .ui-messages-warn .ui-messages-warn-icon:before {
    content: ""; }
body .ui-messages .ui-messages-error {
    background-color: #f06364;
    border-color: #f06364;
    color: #ffffff; }
body .ui-messages .ui-messages-error .ui-messages-error-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 24px;
    margin-top: -2px; }
body .ui-messages .ui-messages-error .ui-messages-error-icon:before {
    content: ""; }
body .ui-messages .ui-messages-fatal {
    background-color: #2d353c;
    border-color: #2d353c;
    color: #ffffff; }
body .ui-messages .ui-messages-fatal .ui-messages-fatal-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 24px;
    margin-top: -2px; }
body .ui-messages .ui-messages-fatal .ui-messages-fatal-icon:before {
    content: ""; }
body .ui-messages .ui-messages-close {
    font-size: 16px;
    color: #ffffff; }
body .ui-message.ui-message-icon-only {
    min-height: 19px; }
body .ui-message.ui-message-info {
    background-color: #2f8ee5;
    border-color: #2f8ee5;
    color: #ffffff; }
body .ui-message.ui-message-info .ui-message-info-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 16px;
    margin-top: 1px; }
body .ui-message.ui-message-info .ui-message-info-icon:before {
    content: ""; }
body .ui-message.ui-message-warn {
    background-color: #f1b263;
    border-color: #f1b263;
    color: #ffffff; }
body .ui-message.ui-message-warn .ui-message-warn-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 16px;
    margin-top: 1px; }
body .ui-message.ui-message-warn .ui-message-warn-icon:before {
    content: ""; }
body .ui-message.ui-message-error {
    background-color: #f06364;
    border-color: #f06364;
    color: #ffffff; }
body .ui-message.ui-message-error .ui-message-error-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 16px;
    margin-top: 1px; }
body .ui-message.ui-message-error .ui-message-error-icon:before {
    content: ""; }
body .ui-message.ui-message-fatal {
    background-color: #2d353c;
    border-color: #2d353c;
    color: #ffffff; }
body .ui-message.ui-message-fatal .ui-message-fatal-icon {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 16px;
    margin-top: 1px; }
body .ui-message.ui-message-fatal .ui-message-fatal-icon:before {
    content: ""; }
body .ui-growl {
    top: 85px; }
body .ui-growl .ui-growl-item-container {
    opacity: 0.95;
    filter: alpha(opacity=95);
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15); }
body .ui-growl .ui-growl-item-container.ui-growl-info {
    background-color: #2f8ee5 !important;
    border-color: #2f8ee5;
    color: #ffffff; 
}
body .ui-growl .ui-growl-item-container.ui-growl-info .ui-growl-image {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 36px; 
}
body .ui-growl .ui-growl-item-container.ui-growl-info .ui-growl-image:before {
    content: ""; }
body .ui-growl .ui-growl-item-container.ui-growl-warn {
    background-color: #f1b263 !important;
    border-color: #f1b263;
    color: #ffffff; 
}
body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-growl-image {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 36px; }
body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-growl-image:before {
    content: ""; 
}
body .ui-growl .ui-growl-item-container.ui-growl-error {
    background-color: #f06364 !important;
    border-color: #f06364;
    color: #ffffff; 
}
body .ui-growl .ui-growl-item-container.ui-growl-error .ui-growl-image {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 36px; 
}
body .ui-growl .ui-growl-item-container.ui-growl-error .ui-growl-image:before {
    content: ""; }
body .ui-growl .ui-growl-item-container.ui-growl-fatal {
    background-color: #2d353c !important;
    border-color: #2d353c;
    color: #ffffff; 
}
body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-growl-image {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 36px; }
body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-growl-image:before {
    content: ""; }