<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">
                        
    <b:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
    <b:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
    <b:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
    </b:bean>
	
    <b:bean id="jsfAccessDeniedHandler" class="com.chronos.security.JsfAccessDeniedHandler">
        <b:property name="loginPath" value="/error/acessoNegado.xhtml" />
        <b:property name="contextRelative" value="true" />
    </b:bean>
	
    <b:bean id="authenticationEntryPoint" class="com.chronos.security.JsfLoginUrlAuthenticationEntryPoint">
        <b:property name="loginFormUrl" value="/login.xhtml"/>
        <b:property name="redirectStrategy" ref="jsfRedirectStrategy" />
    </b:bean>
	
    <b:bean id="jsfRedirectStrategy" class="com.chronos.security.JsfRedirectStrategy"/>
    
    
  <http auto-config="true" use-expressions="true" access-denied-page="/error/acessoNegado.xhtml">
    <custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />
    <form-login login-page="/login.xhtml"
                authentication-failure-url="/login.xhtml?erro=true"
                />
    <intercept-url pattern="/login*" access="permitAll" />
    <intercept-url pattern="/service/**" access="permitAll" />
    <intercept-url pattern="/resources/**" access="permitAll" />
    <intercept-url pattern="/index*" access="isFullyAuthenticated()" />
<!--    <intercept-url pattern="/privado/comercial/nfe/**" access="isFullyAuthenticated() and hasAnyRole('USER_NFE')" />
    <intercept-url pattern="/privado/comercial/nfce/**" access="isFullyAuthenticated() and hasAnyRole('USER_NFCE')" />
    <intercept-url pattern="/privado/comercial/cte/**" access="isFullyAuthenticated() and hasAnyRole('USER_CTE')" />
    <intercept-url pattern="/privado/fiscal/**" access="isFullyAuthenticated()" />
    <intercept-url pattern="/privado/rh/**" access="isFullyAuthenticated()" />
    <intercept-url pattern="/privado/suprimentos/**" access="isFullyAuthenticated()" />
    <intercept-url pattern="/privado/pesquisas/**" access="isFullyAuthenticated()" />
    <intercept-url pattern="/privado/relatorios/**" access="isFullyAuthenticated()" />
    <intercept-url pattern="/privado/configuracoes.xhtml" access="isFullyAuthenticated() and hasAnyRole('SUPORTE')" />-->
    <!--    
    <logout invalidate-session="true"
            logout-url="/j_spring_security_logout"
            delete-cookies="JSESSIONID"/>
        
        <session-management invalid-session-url="/login.xhtml"
                            session-fixation-protection="migrateSession"> 
          <concurrency-control max-sessions="1"
                               expired-url="/login.xhtml"
                               error-if-maximum-exceeded="true" /> 
        </session-management>
        --> 
    </http>

    <authentication-manager>
        <authentication-provider ref="loginControll" />
    </authentication-manager>

    <b:bean name="loginControll" class="com.chronos.security.LoginControll" />
    <!--    <b:bean name="successHandler" class="com.chronos.controll.ChronosSuccessHandler" />-->
        
    <b:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <b:property name="rolePrefix" value="" />
    </b:bean>
    
    <!-- Data Source -->
    <b:bean id="springDataSource" name="springDataSource"
              class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="false">
        <b:property name="jndiName">
            <value>java:comp/env/jdbc/datasource</value>
        </b:property>
    </b:bean>
    
    <b:bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate" 
          lazy-init="false" >
        <b:property name="dataSource" ref="springDataSource"/>	
        <b:property name="baselineOnMigrate" value="true"/>
        <b:property name="table" value="version"/>
        <b:property name="sqlMigrationPrefix" value="V"/>
        <b:property name="sqlMigrationSeparator" value="__"/>        
        <b:property name="validateOnMigrate" value="true"/>
    </b:bean>

</b:beans>